.app-outer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10vh 0;
}

.app-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

@media (min-width: 426px) {
    .app-inner {
        max-width: 80vw;
    }
}

.tag-cloud {
    flex: 1;
}

.tag-cloud > div {
    transition: 2s;
}

.font-color {
    color: white;
}

.font-wordcloud {
    font-family: "Open Sans", sans-serif !important;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 40px;
}

.font-sub-wordcloud {
    font-family: "Open Sans", sans-serif !important;
    letter-spacing: 2px;
    font-size: 12px;
}

.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

.arrow {
    color: white;
    width: 5vh !important;
    cursor: pointer;
}

.icon {
    opacity: 0.5;
    margin: 0 8px;
    height: 30px !important;
    width: auto !important;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}

.icon:hover {
    color: #fcbd0b;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.hover-container:hover .hover {
    color: #fcbd0b;
    cursor: pointer;
}