/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #252627;
    padding:  15px;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

.bm-item:focus {
    outline:none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.closeIconMenu{
    color:white;
}

.sidebar-link {
    margin-top: 9px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    padding-left: 40px !important;
    color: #fcbd0b;
}

.sidebar-link:hover{
    text-decoration: none;
    cursor: pointer;
    color: #fcbd0b;
    font-weight: bold;

}

/*@media only screen and (max-width: 425px) {*/
/*    .menu-width{*/
/*        width: 100vw !important;*/
/*    }*/
/*}*/