.container-main {
    position: relative;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    background: url('/images/bg.svg') no-repeat center;
    background-size: cover;
}

.page {
    position: absolute;
    top:0;
    left: 60px;
    right: 0;
}

.page-enter {
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: translateX(60);
}

.page-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 1s ease-in-out;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
